.mobile-menu {
    width: 100vh;
    height: 100vh;
    display: none;
    background-color: rgb(191, 99, 111);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999 !important;
    opacity: 0;
    box-shadow: 8px 29px 88px rgb(191, 99, 111);
    transition: all 0.3s ease;
    transform: translateX(-100hv);
}

.mobile-menu-container {
    width: 60vh;
    height: 100vh;
    background-color: #bf6370;
    padding: 2rem;
}