.skills-card {
    border-radius: 0.65rem;
    border: 1.5px solid #bf6370;
    padding: 2.5rem;
    text-align: center;
    background: rgba(191, 99, 112, 0.1);
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 2rem; 
}

.skills-card:hover {
    background: linear-gradient(180deg, #e75a6d 0%, #af2a3b 100%);
}

.skills-card.active {
    background: linear-gradient(180deg, #af2a3b 0%, #e75a6d 100%);
}

.skills-card img {
    width: 2.5rem;
    height: auto;
    object-fit: contain;
}

.skills-card span {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
}

.skills-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bf6370;
    border-radius: 0.65rem;
    border: 1.5px solid #af2a3b;
    position: absolute;
    top: -1rem;
    left: -1rem;
}

@media (max-width: 1025px) {
    .skills-card {
        padding: 2rem;
    }

    .skills-card span {
        padding: 1rem;
    }

    .skills-icon {
        width: 3rem;
        height: 3rem;
    }

    .skills-icon img {
        width: 1.8rem;
    }
}

@media (max-width: 768px) {
    .skills-card span {
        font-size: 0.9rem;
    }
}