.skills-info-card {
    min-height: 23rem;
    border-radius: 0.65rem;
    border: 1px solid #af2a3b;
    background: rgb(191, 99, 112, 0.398);
    backdrop-filter: blur(1rem);
}

.skills-info-card h6 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    background: linear-gradient(180deg, #e75a6d 0%, #af2a3b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #af2a3b;
}

.skills-info-content {
    padding: 2rem;
}

.skill-info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 1rem; 
}

.skill-name {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin-bottom: 0.5rem; 
    color: #fff;
}

.skill-progress {
    width: 100%; 
    height: 10px; 
    background-color: lightgray; 
    border-radius: 5px; 
    overflow: hidden;
    margin-top: 0.5rem; 
}

.skill-progress-bar {
    height: 100%;
    background-color: #af2a3b; 
    transition: width 0.3s ease; 
}

.percentage {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .skills-info-card {
        padding: 1rem;
    }

    .skills-info-card h6 {
        font-size: 1rem;
        padding: 0.6rem 1.5rem;
    }

    .skills-info-content {
        padding: 1rem;
    }

    .skill-info {
        margin-bottom: 0.5rem;
    }

    .percentage {
        font-size: 0.8rem;
    }
}