.about-container {
    margin: 4rem auto;
    position: relative;
    width: 100%;
    padding: 0 1rem; 
}

.about-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 3rem;
    justify-content: center; 
}

.skills {
    flex: 1;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px; 
}

.skills-info {
    flex: 1;
    max-width: 600px; 
}

@media (max-width: 1025px) {
    .skills-content {
        margin-left: 1rem;
        gap: 2rem;
    }

    .skills {
        padding-left: 1rem; 
        grid-gap: 2rem;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .about-container h5 {
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    .skills-content {
        margin-left: 1rem;
        gap: 1rem;
    }

    .skills-card {
        padding: 2rem 1.5rem;
    }

    .skills-icon {
        width: 3rem;
        height: 3rem;
    }

    .skills-icon img {
        width: 1.8rem;
    }

    .skills-card span {
        font-size: 1rem;
        padding: 0.5rem;
    }
}

@media (min-width: 1200px) {
    .about-container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .skills-content {
        justify-content: center;
        gap: 2rem;
        margin-left: 0;
    }

    .skills {
        grid-gap: 2rem;
    }

    .skills-info {
        max-width: 600px;
    }
}
